.App {
  text-align: center;
}

body, #root, .App{
  height: 100%;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Page {
  width: 100%;
  height:90%;
}

.dogPreviewBGStyle {
  width: 100%;
  height: 100%;
}
.dogPreviewStyle {
  width:500px;
  height:500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: PermanentMarker;
  src: url(PermanentMarker-Regular.ttf);
}