.App {
  text-align: center;
  height:100%;
  width:100%;
  min-height:100vh;
}

.Map {
  width: 100%;
  height:90vh;
}

.App-logo {
  animation: swing 3s infinite ease-in-out;
  padding: 10px;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Page {
  height:90%;
  margin:20px;
  text-align: left;
}

.dogPreviewBGStyle {
  width: 100%;
  height: 100%;
}
.dogPreviewStyle {
  width:500px;
  height:500px;
}
.valueDogSelectorStyle {
  display: flex;
  flex-direction: column;
  width:500px;
  height:300px;
  padding: 5px;
}
.valueDogSelectorBarStyle {
  padding-top: 5px;
}
.dogEditWindow {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:510px;
  height:800px;
}
.dogPreviewAvatarStyle {
  width:100%;
  height:100%;
}
#ProfilePageScreenStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.ProfileHeaderStyle {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileExpansionTab {
  width: 80%;
  height: 100%;
}
.ProfileHeaderAvatarStyle {
  width:160px;
  height:160px;
  border-radius:100%;
  background-color:gray;
}

@keyframes swing {
  0%, 100%  { transform: rotate(-10deg); }
  20%       { transform: rotate(0);}
  50%       { transform: rotate(10deg); }
  80%       { transform: rotate(0);}
}

