.App {
  text-align: center;
  height:100%;
  width:100%;
  min-height:100vh;
}

.BarkControl {			/* Bark Button - needs to be moved to bottom right */
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-family:sans-serif; 
  font-size: 28px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #00b3ff;
  border: 2px solid #0000;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  margin: 10px;
  margin-left: 0;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.CenterControl {			/* crosshair button*/
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  text-align: center;
  margin: 10px;
  margin-left: 0;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Map {
  width: 100%;
  height:90vh;
}

.App-logo {
  animation: swing 3s infinite ease-in-out;
  padding: 10px;
  height: 120px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Page {
  height:90%;
  margin:20px;
  text-align: left;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.dogEditWindow {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:410px;
  height:600px;
}
.dogPreviewStyle {
  width:300px;
  height:300px;
}
.valueDogSelectorStyle {
  display: flex;
  flex-direction: column;
  align-items:center;
  width:400px;
  height:300px;
  padding: 5px;
}
.dogEditSubmit {
  width: 200px;
}
.valueDogSelectorBarStyle {
  padding-top: 5px;
  padding-bottom: 5px;
}
.dogPreviewAvatarImageStyle{
  width:100%;
  height:100%;
}
#ProfilePageScreenStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  
}
.ProfileHeaderStyle {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.ProfileExpansionTab {
  width: 80%;
  height: 100%;
}
.ProfileHeaderAvatarStyle {
  width:160px;
  height:160px;
  border-radius:50%;
  background-color:lightgray;
}
.ProfileHeaderAvatarImage {
  width:100%;
  height:100%;
  position: relative;
  top: -20%;
}
.ProfileEditAvatarButton {
  position: relative;
  z-index: 1;
}


@keyframes swing {
  0%, 100%  { transform: rotate(-10deg); }
  20%       { transform: rotate(0);}
  50%       { transform: rotate(10deg); }
  80%       { transform: rotate(0);}
}


#ContactPageScreenStyle{
	height: 100%;
    width:100%;
    display: flex;
    flex-Direction:column;
    align-Items:center;
}

.Contact-Title {
	font-size: 30px;
	margin-top: -30px;
	margin-bottom: -40px; 
	padding-bottom : -10px; 
}

.Contact-logo {
  animation: swing 3s infinite ease-in-out;
  padding: 5px;
  height: 100px;
  margin-bottom:5px;
}
.Contact-Button {
	padding: 15px;
	
}
